* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #2DC5D1FF;
}

#block_canvas {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
}

#canvas {
	border: 3px solid red;
}

#hp, #end {
	font-size: 30px;
	font-weight: bold;
	color: red;
	text-align: center;
}


button {
	display: block;
	margin: 20px;
	line-height: 24px;
	width: 120px;
	color: red;
	font-weight: bold;
	font-size: 16px;
	border: 1px solid red;
}

#block_btn {
	position: absolute;
	top: 50%;
	left: 20%;
	transform: translate(-20%, -50%);
}